.wrapper {
  display: flex;
  width: 50%;
  height: 200px;
  margin: auto;
  border-radius: 10px;
  /* border: 3px dashed #1c87c9; */
}

p {
  margin: auto;
  /* Important */
  text-align: center;
}

p > i {
  font-size: 90px;
  font-weight: 300;
}

span {
  font-size: 45px;
  font-weight: 300;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

p > i {
  font-size: 1.5em;
  /* color: #228DFF; */
  color: #666666;
  /* font-family: Iceland; */
  transition: linear 1s;
}

p > i:hover {
  color: #ffffff;
}

p > i:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

p.online > i {
  color: #ffffff;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}


@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}